{% from "_macros.html" import no_results, pagination, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block section %}

    {% set searchInfo = search_info if search_info else "" %}

    <script> var searchInfo = {{ searchInfo | tojson }}; </script>

    {% if request.endpoint == "main.search" and search_info.unsafe %}

        {% if search_info.errors | length == 1 %}

            {% set error_message = search_info.errors | join ~ "..." %}

        {% else %}

            {% set error_message = search_info.errors[:-1] | join(", ") ~ " and " ~ search_info.errors[-1] ~ "..." %}

        {% endif %}

        {{ no_results("error: " ~ error_message) }}

    {% else %}

        {% if results.total == 0 %}

            {{ no_results("no matches...") }}

        {% elif request.endpoint == "main.deleted" %}

            <a class="link button" href="{{ url_for('main.deleted_empty') }}">empty trash</a>

        {% else %}

            {% if search_info %}

                <div class="block floating">

                    <div class="title">

                        <div class="text upper">

                            searching

                            <span class="accent">{{ search_info.key }}</span>

                             for

                            <span class="accent">{{ search_info.terms | join(" " ~ search_info.bool ~ " ") }}</span>

                        </div>

                    </div>

                </div>

            {% endif %}

            {% if request_info %}

                <div class="block floating">

                    <div class="title">

                        <div class="text upper">

                            {% set endpoint_name = request.endpoint.split('.')[-1] %}

                            {{ endpoint_name }} : <span class="accent">{{ request_info.name }}</span>

                            {% if request.endpoint in ['main.source', 'main.tag', 'main.collection'] %}

                                {% if request.endpoint == 'main.source' %}

                                    {% set editor = 'main.edit_sources' %}

                                {% elif request.endpoint == 'main.tag' %}

                                    {% set editor = 'main.edit_tags' %}

                                {% elif request.endpoint == 'main.collection' %}

                                    {% set editor = 'main.edit_collections' %}

                                {% endif %}

                                <a href="{{ url_for(editor) }}"> (edit {{ endpoint_name }} settings)</a>

                            {% endif %}

                            {% if request_info.author %} ⋅ {{ request_info.author }}{% endif %}

                            {% if request_info.sources %}<br><br>sources: {{ request_info.sources | join(" ⋅ ") }}{% endif %}

                            {% if request_info.description %}<br><br>description: {{ request_info.description }}{% endif %}

                        </div>

                    </div>

                </div>

            {% endif %}

            {% if tfilter %}

                <div class="block bleeding">

                    <div class="label">tag filter</div>

                    <div class="content">

                        {% if tfilter.enabled %}

                            {% set search = request.args.get('search') %}

                            <a class="pill tag active" href="{{ url_for(request.endpoint, in_request=in_request, page=page, search=search) }}">clear filters</a>

                        {% endif %}

                        {% for tag in tfilter.data %}

                            {% if tag.enabled %}

                                <a class="pill tag {{ tag.status }}" href="{{ tag.url }}" name="{{ tag.name }}">{{ tag.name }}</a>

                            {% else %}

                                <div class="pill tag {{ tag.status }}" name="{{ tag.name }}">{{ tag.name }}</div>

                            {% endif %}

                        {% endfor %}

                    </div>

                 </div>

            {% endif %}

            <div class="block invisible">

                <div class="content">

                    {{ pagination(results) }}

                </div>

            </div>

            <div class="block bleeding">

                <div class="content">

                    {{ render_multiple_interactive_annotations(results) }}

                </div>

            </div>

        {% endif %}

    {% endif %}

{% endblock %}