{% from "_macros.html" import pagination_top, pagination_bottom, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">

            author : <span class="accent">{{ request_info.name }}</span>

            {% if request_info.sources %}

                <div class="titleDetailContainer">

                    sources : {{ request_info.sources | join(" ⋅ ") }}

                </div>

            {% endif %}

        </div>

        {{ pagination_top(results, current_url) }}

    </div>

    {% if results.total == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">no matching annotations found...</div>

        </div>

    {% else %}

        {{ render_multiple_interactive_annotations(results) }}

        {{ pagination_bottom(results, current_url) }}

    {% endif %}

{% endblock %}