{% from "_macros.html" import pagination with context %}

{% extends "_index.html" %}


{% block section %}

    <div class="block blockFloating">

        <div class="blockTitle">

            <div class="text upper">{{ request.endpoint }}</div>

        </div>

    </div>

    <div class="block blockPagination">

        <div class="blockContent">

            {{ pagination(results) }}

        </div>

    </div>

    <div class="block blockBleeding">

        <div class="blockContent">

            <div id="bulkEditor">

                {% if request.endpoint == 'main.edit_sources' %}

                    {% for source in results.items %}

                        <form method="POST" action="{{ url_for('main.edit_sources', page=page) }}">

                            <button class="link button" type="submit">update</button>
                            <input type="hidden" name="id" value="{{ source.id }}">
                            <input type="text" name="name" value="{{ source.name }}" placeholder="name">
                            <input type="text" name="author_name" value="{{ source.author.name }}" placeholder="author">

                        </form>

                    {% endfor %}

                {% elif request.endpoint == 'main.edit_authors' %}

                    {% for author in results.items %}

                        <form method="POST" action="{{ url_for('main.edit_authors', page=page) }}">

                            <button class="link button" type="submit">update</button>
                            <input type="hidden" name="id" value="{{ author.id }}">
                            <input type="text" name="name" value="{{ author.name }}" placeholder="name">

                        </form>

                    {% endfor %}

                {% elif request.endpoint == 'main.edit_tags' %}

                    {% for tag in results.items %}

                        <form method="POST" action="{{ url_for('main.edit_tags', page=page) }}">

                            {% set tag_color = tag.color if tag.color else "" %}
                            {% set tag_description = tag.description if tag.description else "" %}
                            {% set pinned = "checked" if tag.pinned else "false" %}

                            <button class="link button" type="submit">update</button>
                            <input type="checkbox" name="pinned" value="True" {{ pinned }}>
                            <input type="hidden" name="id" value="{{ tag.id }}">
                            <input type="text" name="name" value="{{ tag.name }}" placeholder="name">
                            <input type="text" name="color" value="{{ tag_color }}" placeholder="color">
                            <input type="text" name="description" value="{{ tag_description }}" placeholder="description">

                            <div class="pill tag" name="{{ tag.name }}">{{ tag.name }} ⋅ {{ tag.frequency }}</div>

                        </form>

                    {% endfor %}

                {% elif request.endpoint == 'main.edit_collections' %}

                    {% for collection in results.items %}

                        <form method="POST" action="{{ url_for('main.edit_collections', page=page) }}">

                            {% set collection_color = collection.color if collection.color else "" %}
                            {% set collection_description = collection.description if collection.description else "" %}
                            {% set pinned = "checked" if collection.pinned else "false" %}

                            <button class="link button" type="submit">update</button>

                            <input type="checkbox" name="pinned" value="True" {{ pinned }}>
                            <input type="hidden" name="id" value="{{ collection.id }}">
                            <input type="text" name="name" value="{{ collection.name }}" placeholder="name">
                            <input type="text" name="color" value="{{ collection_color }}" placeholder="color">
                            <input type="text" name="description" value="{{ collection_description }}" placeholder="description">

                            <div class="pill collection" name="{{ collection.name }}">{{ collection.name }} ⋅ {{ collection.frequency }}</div>

                        </form>

                    {% endfor %}

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
