{% from "_macros.html" import header_menu_start_html, header_menu_end_html with context %}


{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">edit tags</div>

    </div>

    <div id="bulkEditor">

        {% for tag in results %}

            <form method="POST" action="{{ url_for('main.bulk_edit_tags') }}">

                <div class="block blockBleeding">

                    <div class="blockHeaderMenu">

                        {{ header_menu_start_html() }}
                            <button class="headerMenuButton" type="submit">update</button>
                            <button class="headerMenuButton" type="submit" name="delete_tag">delete</button>
                        {{ header_menu_end_html() }}

                    </div>

                    <div class="blockContent">

                        {{ form.csrf_token }}
                        {{ form.id(value=tag.id) }}

                        {{ form.pinned(checked=tag.pinned) }}{{ form.pinned.label }}
                        <br>{{ form.name(value=tag.name) }}
                        <br>{{ form.color(value=tag.color) }}
                        <br>{{ form.description(value=tag.description) }}
                        <br><div class="pill tag bulkEditPill" name="{{ tag.name }}">{{ tag.name }} ⋅ {{ tag.frequency }}</div>

                    </div>

                </div>

            </form>

        {% endfor %}

    </div>

{% endblock %}