{% from "_macros.html" import header_menu_start_html, header_menu_end_html with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">edit collections</div>

    </div>

    <div id="bulkEditor">

        {% for collection in results %}

            <form method="POST" action="{{ url_for('main.bulk_edit_collections') }}">

                <div class="block blockBleeding">

                    <div class="blockHeaderMenu">

                        {{ header_menu_start_html() }}
                            <button class="headerMenuButton" type="submit">update</button>
                            <button class="headerMenuButton" type="submit" name="delete_collection">delete</button>
                        {{ header_menu_end_html() }}

                    </div>

                    <div class="blockContent">

                        {{ form.csrf_token }}
                        {{ form.id(value=collection.id) }}

                        {{ form.pinned(checked=collection.pinned) }}{{ form.pinned.label }}
                        {{ form.name(value=collection.name) }}
                        {{ form.color(value=collection.color) }}
                        {{ form.description(value=collection.description) }}
                        <br><div class="pill collection bulkEditPill" name="{{ collection.name }}">{{ collection.name }} ⋅ {{ collection.frequency }}</div>

                    </div>

                </div>

            </form>

        {% endfor %}

    </div>

{% endblock %}
