{% from "_macros.html" import pagination with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">edit tags</div>

    </div>

    <div class="block blockBleeding">

        <div class="blockContent">

            <div id="bulkEditor">

                {% for tag in results %}

                    <form method="POST" action="{{ url_for('main.bulk_edit_tags') }}">

                        <button class="link button" type="submit">update</button>

                        &nbsp;

                        {{ form.csrf_token }}
                        {{ form.id(value=tag.id) }}
                        {{ form.name(value=tag.name) }}
                        {{ form.color(value=tag.color) }}
                        {{ form.description(value=tag.description) }}

                        &nbsp;

                        <span class="text upper faded">{{ form.pinned.label }}:</span> {{ form.pinned(checked=tag.pinned) }}

                        &nbsp;

                        <div class="pill tag" name="{{ tag.name }}">{{ tag.name }} ⋅ {{ tag.frequency }}</div>

                        {% if form.errors %}
                            {% if tag.id | string == form.errors["name"][0] %}
                                ERROR!
                            {% endif %}
                        {% endif %}

                    </form>

                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}