{% from "_macros.html" import header_menu_start_html, header_menu_end_html with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">edit authors</div>

    </div>

    <div id="bulkEditor">

        {% for author in results %}

            <form method="POST" action="{{ url_for('main.bulk_edit_authors') }}">

                <div class="block blockBleeding">

                    <div class="blockHeaderMenu">

                        {{ header_menu_start_html() }}
                            <button class="headerMenuButton" type="submit">update</button>
                        {{ header_menu_end_html() }}

                    </div>

                    <div class="blockContent">

                        {{ form.csrf_token }}
                        {{ form.id(value=author.id) }}
                        {{ form.name(value=author.name) }}

                    </div>

                </div>

            </form>

        {% endfor %}

    </div>

{% endblock %}
