{% from "_macros.html" import pagination, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">

            collection : <a class="link button accent" href="{{ url_for('main.edit_collections') }}">{{ request.path.split('/')[-1] }}</a>

            {% if request_info.description %}

                <div class="titleDetailContainer">

                    <span class="titleDescription">{{ request_info.description }}</span>

                </div>

            {% endif %}

        </div>

    </div>

    {% if results.total == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">

                no matching annotations found...

            </div>

        </div>

    {% else %}

        <div class="block blockInvisible">

            <div class="blockPagination">

                {{ pagination(results) }}

            </div>

        </div>

        <div class="block blockBleeding">

            <div class="blockContent">

                {{ render_multiple_interactive_annotations(results) }}

            </div>

        </div>

    {% endif %}

{% endblock %}