{% from "_macros.html" import render_base_annotation, render_multiple_static_annotations,
    attribution_from_source_obj, attribution_from_author_obj with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">dashboard</div>

    </div>

    <div class="block blockFloating">

        <div class="blockLabel">{{ dash.today.strftime('%B %d, %Y') }}</div>

        <div class="blockContent">

            <a href="{{ url_for('main.all') }}" class="link button dashboard">{{ dash.annotation_count }} annotations</a>
            <a href="{{ url_for('main.index', mode='tags') }}" class="link button dashboard">{{ dash.tag_count }} tags</a>
            <a href="{{ url_for('main.index', mode='collections') }}" class="link button dashboard">{{ dash.collection_count }} collections</a>

        </div>

    </div>

    {% if dash.pinned_collections or dash.pinned_tags %}

        <div class="block blockFloating">

            {% if dash.pinned_collections %}

                <div class="blockLabel">pinned collections</div>

                <div class="blockContent">

                    {% for collection in dash.pinned_collections %}

                        <a class="pill collection" name="{{ collection.name }}" href="{{ url_for('main.collection', in_request=collection.name) }}">{{ collection.name }}</a>

                    {% endfor %}

                </div>

            {% endif %}

            {% if dash.pinned_tags %}

                <div class="blockLabel">pinned tags</div>

                <div class="blockContent">

                    {% for tag in dash.pinned_tags %}

                        <a class="pill tag" name="{{ tag.name }}" href="{{ url_for('main.tag', in_request=tag.name) }}">{{ tag.name }}</a>

                    {% endfor %}

                </div>

            {% endif %}

        </div>

    {% endif %}

    {% if dash.daily_annotation %}

        <div class="block blockFloating">

            <div class="blockLabel">quote of the day</div>

            <div class="blockContent">

                {{ render_base_annotation(dash.daily_annotation) }}

            </div>

        </div>

    {% endif %}

    {% if dash.recent_tags or dash.recent_collections or dash.recent_sources or dash.recent_authors %}

        <div class="block blockFloating">

            {% if dash.recent_tags %}

                <div class="blockLabel">recent tags</div>

                <div class="blockContent">

                    {% for tag in dash.recent_tags %}

                        <a class="pill tag" name="{{ tag.name }}" href="{{ url_for('main.tag', in_request=tag.name) }}">{{ tag.name }}</a>

                    {% endfor %}

                </div>

            {% endif %}

            {% if dash.recent_collections %}

                <div class="blockLabel">recent collections</div>

                <div class="blockContent">

                    {% for collection in dash.recent_collections %}

                        <a class="pill collection" name="{{ collection.name }}" href="{{ url_for('main.collection', in_request=collection.name) }}">{{ collection.name }}</a>

                    {% endfor %}

                </div>

            {% endif %}

            {% if dash.recent_sources %}

                <div class="blockLabel">recent sources</div>

                <div class="blockContent">

                    {% for source in dash.recent_sources %}

                        <a class="link button dashboard" href="{{ url_for('main.source', in_request=source.id) }}">{{ attribution_from_source_obj(source) }}</a>

                    {% endfor %}

                </div>

            {% endif %}

            {% if dash.recent_authors %}

                <div class="blockLabel">recent authors</div>

                <div class="blockContent">

                    {% for author in dash.recent_authors %}

                        <a class="link button dashboard" href="{{ url_for('main.author', in_request=author.id) }}">{{ attribution_from_author_obj(author) }}</a>

                    {% endfor %}

                </div>

            {% endif %}

        </div>

    {% endif %}

    {% if dash.daily_topic and dash.daily_topic_annotations %}

        <div class="block blockFloating">

            <div class="blockLabel">topic of the day: <span class="accent">{{ dash.daily_topic.name }}</span></div>

            <div class="blockContent">

                {{ render_multiple_static_annotations(dash.daily_topic_annotations) }}

            </div>

        </div>

    {% endif %}

{% endblock %}