{% from "_macros.html" import header_menu_start_html, header_menu_end_html, render_form_field %}

{% extends "_index.html" %}


{% block main %}

    <script src="{{ url_for('static', filename='js/medKit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>

    <form method="POST" action="{{ url_for('main.edit_annotation', in_request=id, referrer=referrer) }}">

        <div class="block blockFloating">

            <div class="blockTitle">edit annotation</div>

        </div>

        <div class="block blockBleeding">

            <div class="blockHeaderMenu">

                {{ header_menu_start_html() }}
                    <button class="headerMenuButton" type="submit">update</button>
                         <a class="headerMenuButton" href="{{ HOME_URL }}">cancel</a>
                    <button class="headerMenuButton" type="reset">reset</button>
                    <button class="headerMenuButton" type="submit" name="duplicate">duplicate</button>
                {{ header_menu_end_html() }}

            </div>

            <div class="blockContent">

                <div id="annotationEditor">

                    {{ form.csrf_token }}

                    {{ render_form_field(form.passage, custom_classes=["enableMarkdown"]) }}
                    {{ render_form_field(form.source) }}
                    {{ render_form_field(form.author) }}
                    {{ render_form_field(form.notes, custom_classes=["enableMarkdown"]) }}

                    <medKit name='tag'></medKit>
                    {{ form.tags(id="tag-medKitData") }}

                    <medKit name='collection'></medKit>
                    {{ form.collections(id="collection-medKitData") }}

                    <div class="annotationMetaData text upper faded">

                        {{ form.created.label }}: {{ form.created.data.strftime('%B %d, %Y') }}<br>
                        {{ form.modified.label }}: {{ form.modified.data.strftime('%B %d, %Y') }}<br>
                        {{ form.origin.label }}: {{ form.origin.data }}<br>
                        {{ form.is_protected.label }}: {{ form.is_protected.data }}<br>
                        {{ form.in_trash.label }}: {{ form.in_trash.data }}<br>
                        {{ form.id.label }}: {{ form.id.data }}<br>

                    </div>

                </div>

            </div>

        </div>

    </form>

    <script>

        const tagMedKit = new MedKit(
            "tag",
            {
                pillBoxInputPlaceholder: "add tags...",
                pillCustomClasses: ["pill", "tag"],
                suggestionDataURL: "/ajax/tags",
                pillColorsDataURL: "/ajax/colors",
                zIndex: 200
            }
        );
        tagMedKit.initMedKit()

        const collectionMedKit = new MedKit(
            "collection",
            {
                pillBoxInputPlaceholder: "add to collections...",
                pillCustomClasses: ["pill", "collection"],
                suggestionDataURL: "/ajax/collections",
                pillColorsDataURL: "/ajax/colors",
                zIndex: 100
            }
        );
        collectionMedKit.initMedKit()

    </script>

{% endblock %}