{% from "_macros.html" import header_menu_start_html, header_menu_end_html,
    header_menu_mode_buttons, no_results with context %}

{% extends "_index.html" %}


{% macro generate_index(results, endpoint, link_by, classes) -%}

    <div class="block blockBleeding">

        {% for letter, items in results.items() | sort %}

            <div class="blockLabel indexLetter">{{ letter }}</div>

            <div class="blockContent">

                {% for item in items %}

                    {% if link_by == 'name' %}

                        {% set url = url_for(endpoint, in_request=item.name) %}

                    {% elif link_by == 'id' %}

                        {% set url = url_for(endpoint, in_request=item.id) %}

                    {% endif %}

                    <a class="{{ classes | join(' ') }}" name="{{ item.name }}" href="{{ url }}">{{ item.name }} ⋅ {{ item.frequency }}</a>

                {% endfor %}

            </div>

        {% endfor %}

    </div>

{%- endmacro %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockHeaderMenu">

            {{ header_menu_start_html() }}
                {{ header_menu_mode_buttons(endpoint="main.index", modes=["sources", "authors", "tags", "collections"]) }}
            {{ header_menu_end_html() }}

        </div>

        <div class="blockTitle">index</div>

        <div class="blockMenu">

            {% if request.view_args["mode"] == "sources" %}

                <a class="link button faded" href="{{ url_for('main.bulk_edit_sources') }}">edit sources (beta)</a>

            {% elif request.view_args["mode"] == "authors" %}

                <a class="link button faded" href="{{ url_for('main.bulk_edit_authors') }}">edit authors (beta)</a>

            {% elif request.view_args["mode"] == "tags" %}

                <a class="link button faded" href="{{ url_for('main.bulk_edit_tags') }}">edit tags (beta)</a>

            {% elif request.view_args["mode"] == "collections" %}

                <a class="link button faded" href="{{ url_for('main.bulk_edit_collections') }}">edit collections (beta)</a>

            {% endif %}

        </div>

    </div>

    {% if results | length == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">no annotations found...</div>

        </div>

    {% else %}

        {% if request.view_args["mode"] == "sources" %}

            {{ generate_index(results=results, endpoint="main.source", link_by="id", classes=["link", "button", "index"]) }}

        {% elif request.view_args["mode"] == "authors" %}

            {{ generate_index(results=results, endpoint="main.author", link_by="id", classes=["link", "button", "index"]) }}

        {% elif request.view_args["mode"] == "tags" %}

            {{ generate_index(results=results, endpoint="main.tag", link_by="name", classes=["pill", "tag"]) }}

        {% elif request.view_args["mode"] == "collections" %}

            {{ generate_index(results=results, endpoint="main.collection", link_by="name", classes=["pill", "collection"]) }}

        {% endif %}

    {% endif %}

{% endblock %}