{% from "_macros.html" import header_buttons, pagination_top, pagination_bottom, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">recent : past {{ current_user.recent_days }} days</div>

        <div class="blockMenu">

            {{ header_buttons(endpoint="main.recent", modes=["added", "edited", "imported"]) }}

        </div>

        {{ pagination_top(results, current_url) }}

    </div>

    {% if results.total == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">

                no recent annotations found...

            </div>

        </div>

    {% else %}

        <div class="block blockBleeding">

            <div class="blockContent">

                {{ render_multiple_interactive_annotations(results) }}

            </div>

        </div>

        {{ pagination_bottom(results, current_url) }}

    {% endif %}

{% endblock %}