{% from "_macros.html" import header_menu_start_html, header_menu_end_html, header_menu_mode_buttons,
    pagination_top, pagination_bottom, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockHeaderMenu">

            {{ header_menu_start_html() }}
                {{ header_menu_mode_buttons(endpoint="main.recent", modes=["all", "created", "edited", "imported"]) }}
            {{ header_menu_end_html() }}

        </div>

        <div class="blockTitle">

            {% if request.view_args["mode"] == "all" %}

                all annotations : sorted by most recent

            {% elif request.view_args["mode"] == "created" %}

                recent : created in the past {{ current_user.recent_days }} days

            {% elif request.view_args["mode"] == "edited" %}

                recent : edited in the past {{ current_user.recent_days }} days

            {% elif request.view_args["mode"] == "imported" %}

                recent : imported in the past {{ current_user.recent_days }} days

            {% endif %}

        </div>

        {{ pagination_top(results, current_url) }}

    </div>

    {% if results.total == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">

                {% if request.view_args["mode"] == "all" %}

                    no annotations found...

                {% elif request.view_args["mode"] == "created" %}

                    no recently created annotations found...

                {% elif request.view_args["mode"] == "edited" %}

                    no recently edited annotations found...

                {% elif request.view_args["mode"] == "imported" %}

                    no recently imported annotations found...

                {% endif %}

            </div>

        </div>

    {% else %}

        {{ render_multiple_interactive_annotations(results) }}

        {{ pagination_bottom(results, current_url) }}

    {% endif %}

{% endblock %}