{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockLabel">export / restore</div>

        <div class="blockContent">

            <a class="link button settings" href="{{ url_for('data.download_user_data') }}">download data as .hlts</a>
            <a class="link button settings" href="{{ url_for('data.email_user_data') }}">e-mail data as .hlts</a>
            <a class="link button settings" href="{{ url_for('data.restore_user_data') }}">restore from .hlts file</a>

        </div>

    </div>

{% endblock %}