{% from "_macros.html" import header_menu_start_html, header_menu_end_html,
    pagination_top, pagination_bottom, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockHeaderMenu">

            {{ header_menu_start_html() }}
            <a class="headerMenuButton" href="{{ url_for('main.empty_trash') }}">empty trash</a>
            <a class="headerMenuButton headerMenuButtonDisabled" href="#">restore all</a>
            {{ header_menu_end_html() }}

        </div>

        <div class="blockTitle">trash</div>

        {{ pagination_top(results, current_url) }}

    </div>

    {% if results.total == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">no annotations in trash...</div>

        </div>

    {% else %}

        {{ render_multiple_interactive_annotations(results) }}

        {{ pagination_bottom(results, current_url) }}

    {% endif %}

{% endblock %}