{% from "_macros.html" import pagination_top, pagination_bottom, render_multiple_interactive_annotations with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockTitle">trash</div>

        <div class="blockMenu">

            <a class="link button" href="{{ url_for('main.empty_trash') }}">empty trash</a>

        </div>

        {{ pagination_top(results, current_url) }}

    </div>

    {% if results.total == 0 %}

        <div class="block blockBleeding">

            <div class="blockTitle">

                no deleted annotations found...

            </div>

        </div>

    {% else %}

        <div class="block blockBleeding">

            <div class="blockContent">

                {{ render_multiple_interactive_annotations(results) }}

            </div>

        </div>

        {{ pagination_bottom(results, current_url) }}

    {% endif %}

{% endblock %}