{% extends "_index.html" %}


{% block main %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <div id="flatPage">

        <div class="block blockFloating">

            <div class="blockContent">

                <div class="flatTitle">{{ page.title }}</div>

            </div>

        </div>

        <div class="block blockBleeding">

            <div class="blockContent">

                <div class="flatContent markdown">{{ page.body | markdown }}</div>

            </div>

        </div>

        <div class="block blockBleeding">

            <div class="blockContent">

                <div class="text upper faded">last updated {{ page.date.strftime('%B %d, %Y') }}</div>

            </div>

        </div>

    </div>

{% endblock %}