{% from "_macros.html" import header_menu_start_html, header_menu_end_html, render_form_field %}

{% extends "_index.html" %}


{% block main %}

    <form method="POST" action="{{ url_for('user.change_password') }}">

        <div class="block blockFloating">

            <div class="blockTitle">change password</div>

        </div>

        <div id="userSettings">

            <div class="block blockBleeding">

            <div class="blockHeaderMenu">

                {{ header_menu_start_html() }}
                    <button class="headerMenuButton" type="submit">update</button>
                    <button class="headerMenuButton" type="reset">reset</button>
                {{ header_menu_end_html() }}

            </div>

            <div class="blockContent">

                {{ form.csrf_token }}
                {{ render_form_field(form.id) }}
                {{ render_form_field(form.old_password) }}
                {{ render_form_field(form.new_password) }}
                {{ render_form_field(form.confirm_password) }}

            </div>

            </div>

        </div>

    </form>

{% endblock %}
