{% from "_macros.html" import flash, render_form_field %}

{% extends "_index.html" %}


{% block body %}

	<body>

		<div id="userWelcome">

			<div class="welcomeContainer dropShadowBig">

				{% set next = request.args.get('next', None) %}

                <div class="loginContainer">

                    <form method="POST" action="{{ url_for('user.login', next=next) }}">

                        <img class="appLogo" src="{{ url_for('static', filename='images/app-logo.png') }}"/>

					    <div class="loginForm">

                            <loginFlash>{% include "_flash.html" %}</loginFlash>

                            {{ form.csrf_token }}

                            {{ render_form_field(form.username) }}
                            {{ render_form_field(form.password) }}

                            <div class="loginRemember">

                                {{ form.remember }}{{ form.remember.label }}

                            </div>

                        </div>

                        <div class="loginFormOptions">

                            <button class="link button" type="submit">login</button>

                        </div>

                    </form>

                    <div class="loginTrouble">

                        Trouble logging in? <a class="accent" href="mailto:{{ config.MAIL_USERNAME }}">Contact Us!</a>

                    </div>

                </div>

                <div class="accentContainer">

                    Interested in beta testing HLTS? <a class="white" href="mailto:{{ config.MAIL_USERNAME }}">Contact us!</a>

                </div>

			</div>

		</div>

	</body>

{% endblock %}