{% from "_macros.html" import flash, render_form_field %}

{% extends "_index.html" %}


{% block body %}

	<body>

		<div id="userLogin">

			<div class="loginContainer dropShadowBig">

				{% set next = request.args.get('next', None) %}

				<form method="POST" action="{{ url_for('user.login', next=next) }}">

					<div class="loginForm">

						<loginFlash> {{ flash() }} </loginFlash>

						{{ form.csrf_token }}

						{{ render_form_field(form.username) }}
						{{ render_form_field(form.password) }}

						<br>
						<br>

						{{ form.remember }} <span class="text upper faded">{{ form.remember.label }}</span><br>

					</div>

					<div class="loginFormOptions">

						<button class="link button faded" type="submit">login</button>

					</div>

				</form>

				<div class="loginAccent"></div>

			</div>


		</div>

	</body>

{% endblock %}