{% from "_macros.html" import header_menu_start_html, header_menu_end_html, render_form_field %}

{% extends "_index.html" %}


{% block main %}

    <form method="POST" action="{{ url_for('user.settings') }}">

        <div class="block blockFloating">

            <div class="blockTitle">user settings</div>

        </div>

        <div id="userSettings">

            <div class="block blockBleeding">

                <div class="blockHeaderMenu">

                    {{ header_menu_start_html() }}
                        <button class="headerMenuButton" type="submit">update</button>
                        <button class="headerMenuButton" type="reset">reset</button>
                          <span class="headerMenuButton headerMenuButtonDisabled">restore defaults</span>
                    {{ header_menu_end_html() }}

                </div>

                <div class="blockLabel">login</div>

                <div class="blockContent">

                    {{ form.csrf_token }}
                    {{ render_form_field(form.id) }}
                    {{ render_form_field(form.username) }}
                    {{ render_form_field(form.fullname) }}
                    {{ render_form_field(form.email) }}

                    <a class="link button changePassword" href="{{ url_for('user.change_password') }}">change password</a>

                </div>

                <div class="blockLabel">miscellaneous</div>

                <div class="blockContent">

                    {{ render_form_field(form.results_per_page, label=true) }}
                    {{ render_form_field(form.recent_days, label=true) }}

                </div>

                <div class="blockLabel">api key</div>

                <div class="blockContent">

                    <span id="toggleApiKey" class="link button">toggle api key</span>
                    <span class="text"> ⋅ </span>
                    <span id="apiKey" class="text faded" value="{{ form.api_key.data }}"></span>

                </div>

                {% if not current_user.show_dashboard_notification %}

                    <div class="blockLabel">dashboard</div>

                    <div class="blockContent">

                        <a class="text upper settings" href="{{ url_for('main.show_dashboard_notification') }}">show notification</a>

                    </div>

                {% endif %}

                <div class="blockLabel">version</div>

                <div class="blockContent">

                        <div class="text upper settings"><span class="faded">app:</span> {{ config["APP_VERSION"] }}</div>
                        <div class="text upper settings"><span class="faded">db:</span> {{ config["DB_VERSION"] }}</div>

                </div>

            </div>

        </div>

    </form>

{% endblock %}
