{% extends "_index.html" %}


{% macro setting_form_field(field, label=false) -%}

    {% if label %}
        <div class="text upper faded">{{ field.label }}</div>
    {% endif %}

    <div>{{ field }}</div>

{%- endmacro %}


{% block section %}

    <form method="POST" action="{{ url_for('user.settings') }}">

        <div class="block floating">

            <div class="label">user settings</div>

            <div class="content">

                <button class="link button" type="submit">update</button>

            </div>

        </div>

        <div id="userSettings">

            <div class="block bleeding">

                {{ user_form.csrf_token }}

                <div class="label">login</div>

                <div class="content">

                    {{ setting_form_field(user_form.username) }}
                    {{ setting_form_field(user_form.fullname) }}
                    {{ setting_form_field(user_form.email) }}

                </div>

                <div class="label">miscellaneous</div>

                <div class="content">

                    {{ setting_form_field(user_form.results_per_page, label=true) }}
                    {{ setting_form_field(user_form.recent_days, label=true) }}

                </div>

                {% if current_user.is_admin %}

                    <div class="label">admin info</div>

                    <div class="content">

                        <div class="text upper">{{ USER_AGENT.browser }}</div>
                        <div class="text upper">{{ USER_AGENT.platform }}</div>
                        <div class="text upper">{{ USER_AGENT.version }}</div>
                        <div class="text upper">{{ USER_AGENT.language }}</div>

                    </div>

                {% endif %}

            </div>

        </div>

    </form>

    <div class="block floating">

        <div class="content">

            <a class="link button accent" href="{{ url_for('user.logout') }}">logout</a>

        </div>

    </div>

{% endblock %}
