{% from "_macros.html" import render_form_field %}

{% extends "_index.html" %}


{% block main %}

    <form method="POST" action="{{ url_for('user.settings') }}">

        <div class="block blockFloating">

            <div class="blockLabel">user settings</div>

            <div class="blockContent">

                <button class="link button" type="submit">update</button>

            </div>

        </div>

        <div id="userSettings">

            <div class="block blockBleeding">

                {{ form.csrf_token }}

                <div class="blockLabel">login</div>

                <div class="blockContent">

                    {{ render_form_field(form.id) }}
                    {{ render_form_field(form.username) }}
                    {{ render_form_field(form.fullname) }}
                    {{ render_form_field(form.email) }}

                </div>

                <div class="blockLabel">miscellaneous</div>

                <div class="blockContent">

                    {{ render_form_field(form.results_per_page, label=true) }}
                    {{ render_form_field(form.recent_days, label=true) }}

                </div>

                <div class="blockLabel">api api_key</div>

                <div class="blockContent">

                    <div class="text">{{ form.api_key.data }}</div>

                </div>

                {% if current_user.is_admin %}

                    <div class="blockLabel">admin info</div>

                    <div class="blockContent">

                        <div class="text upper">{{ USER_AGENT.browser }}</div>
                        <div class="text upper">{{ USER_AGENT.platform }}</div>
                        <div class="text upper">{{ USER_AGENT.version }}</div>
                        <div class="text upper">{{ USER_AGENT.language }}</div>

                    </div>

                {% endif %}

            </div>

        </div>

    </form>

    <div class="block blockFloating">

        <div class="blockContent">

            <a class="link button accent" href="{{ url_for('user.logout') }}">logout</a>

        </div>

    </div>

{% endblock %}
