/* --------------------------------------------------------------------- */
/* ----------------------------- dark theme ---------------------------- */
/* --------------------------------------------------------------------- */

:root{

	/* body */
	--body-bg-color: #1A1A1A;
	--body-text-color: #BBBBBB;
	--body-text-color-light: #999999;
	--body-text-color-faded: #AAAAAA;
	--a-color: #888888;
	--a-hover-color: #999999;
	--hr-color: #111111;

	/* window */
	--window-bg-color: #222222;
	--window-shadow-color: #0F0F0F;
	--window-border-color: #070707;

	/* accent color */
	--accent-full: hsl(270, 50%, 60%);
	--accent-full: hsl(270, 50%, 70%);
	--accent-qart: hsl(270, 50%, 85%);
	--accent-warning: rgba(230, 80, 83, 1);
	--accent-tag-text-color:#FFFFFF;

	/* flash */
	--flash-success-text-color: var(--accent-full);
	--flash-warning-text-colo: var(--accent-warning);

	/* annotation */
	--code-bg-color: #222222;
	--code-text-color: #888888;

	/* tags */
	--tag-bg-color: #222222;
	--tag-text-color: #999999;
	--tag-text-color-white: #FFFFFF;
	--tag-bg-hover-color: #333333;
	--tag-text-hover-color: #999999;
	--tag-color0: #FF8786;
	--tag-color1: #F9B695;
	--tag-color2: #F9E095;
	--tag-color3: #CED982;
	--tag-color4: #7AB4BD;
	--tag-color5: #B085A8;

	/* buttons */
	--text-button-color: #999999;

	/* input */
	--input-text-color: #BBBBBB;
	--input-text-color-protected: #666666;
	--input-placeholder-color: #444444;
	--input-placeholder-hover-color: #555555;
	--input-error-text-color: rgba(230, 80, 83, 1);

	--search-text-color-focus: hsl(0, 0%, 20%);
	--search-text-color-blur: hsl(0, 0%, 50%);

	/* highlighting */
	--highlight-bg-color: var(--accent-half);
	--highlight-text-color: var(--accent-text-color);
	--mark-passage-bg-color: var(--accent-full);
	--mark-passage-text-color: var(--accent-text-color);
	--mark-tag-bg-color: var(--accent-full);
	--mark-tag-text-color: var(--accent-tag-text-color);
}