[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
gunicorn = "*"
python-dateutil = "*"
psycopg2-binary = "*"
