{% extends "_index.html" %}

{% block main %}

    <div class="block blockFloating">

        <span class="blockLabel">restore from json</span>

        <div class="blockContent">

            <span class="text upper warning">warning: this will delete all current annotations!</span>

        </div>

    </div>

    <form method="POST" action="{{ url_for('io.restore_user_data') }}" enctype=multipart/form-data>

        <div class="block blockBleeding">

            <div class="blockContent">

                {{ form_restore.csrf_token }}

                {{ form_restore.confirm }} <span class="text upper">confirm</span>

                <br>
                <br>

                {{ form_restore.hlts_file }}

            </div>

        </div>

        <div class="block blockFloating">

            <div class="blockContent">

                <button class="link button" type="submit">restore</button>

            </div>

        </div>

    </form>



{% endblock %}


