{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <div class="blockLabel">hlts beta</div>

        <div class="blockContent">

            <a class="link button accent" href="{{ url_for('beta.main') }}">{{ page.title }}</a>

        </div>

    </div>

    <div class="block blockBleeding">

        <div class="blockContent">

            <div class="betaMarkdown markdown">{{ page.body | markdown }}</div>

        </div>

    </div>

    <div class="block blockBleeding">

        <div class="blockContent">

            <div class="text upper faded">last updated {{ page.date.strftime('%B %d, %Y') }}</div>

        </div>

    </div>

    {% if request.endpoint != "beta.main"  %}

        <div class="block blockBleeding">

            <div class="blockContent">

                <a class="link button accent" href="{{ url_for('beta.main') }}">return to beta main</a>

            </div>

        </div>

    {% endif %}

{% endblock %}