{% from "_macros.html" import header_menu_start_html, header_menu_end_html with context %}

{% extends "_index.html" %}


{% block main %}

    <form method="POST" action="{{ url_for('data.restore_user_data') }}" enctype=multipart/form-data>

        <div class="block blockFloating">

            <div class="blockTitle">restore from json</div>

        </div>

        <div class="block blockFloating">

            <div class="blockHeaderMenu">

                {{ header_menu_start_html() }}
                    <button class="headerMenuButton" type="submit">upload</button>
                    <button class="headerMenuButton" type="reset">reset</button>
                {{ header_menu_end_html() }}

            </div>

            <div class="blockContent">

                <div class="text upper accent forceCenter">before proceeding please read about <a class="link button" href="/manual/main/#restoring-your-data">restoring your data</a></div>

                {{ form_restore.csrf_token }}
                {{ form_restore.hlts_file }}{{ form_restore.hlts_file.label }}

                {{ form_restore.confirm }}{{ form_restore.confirm.label }}

            </div>

        </div>

    </form>

{% endblock %}


