{% from "_macros.html" import header_menu_start_html, header_menu_end_html with context %}

{% extends "_index.html" %}


{% block main %}

    <div class="block blockFloating">

        <span class="blockLabel">restore from json</span>

        <div class="blockContent">

            <span class="text upper warning">warning: this will delete all current annotations!</span>

        </div>

    </div>

    <form method="POST" action="{{ url_for('data.restore_user_data') }}" enctype=multipart/form-data>

        <div class="block blockFloating">

            <div class="blockHeaderMenu">

                {{ header_menu_start_html() }}
                    <button class="headerMenuButton" type="submit">restore</button>
                {{ header_menu_end_html() }}

            </div>

            <div class="blockContent">

                {{ form_restore.csrf_token }}
                {{ form_restore.confirm }}{{ form_restore.confirm.label }}

                <br>

                {{ form_restore.hlts_file }}

            </div>

        </div>

    </form>



{% endblock %}


