
<div>Nap for how long?: <input type="text" id="nap-length" value=10></div>
<div>Worker: <span id="worker-id">{{ worker.id }}</span></div>
<div>State: <span id="worker-state">{{ worker.state }}</span></div>
<div>Info: <span id="worker-info">{{ worker.info }}</span></div>
<div id="worker-progress"></div>
<div id="worker-progress-full"></div>
<button id="run-worker">Run Worker!</button>


<script>

    const runWorkerButton = document.querySelector("#run-worker");

    runWorkerButton.addEventListener("click", function() {

        runWorker()
    });

    function runWorker() {

        const dot = "="

        const napLength = document.querySelector("#nap-length");
        const workerID = document.querySelector("#worker-id");
        const workerState = document.querySelector("#worker-state");
        const workerProgressFull = document.querySelector("#worker-progress-full");
        workerProgressFull.innerText = dot.repeat(napLength.value)

        fetch("/run_worker", {
            method: "POST",
            credentials: "include",
            body: JSON.stringify({napLength: napLength.value})
        })
            .then(response => response.json())
            .then(data => {

                workerID.innerText = data.id
                workerState.innerText = data.state
            }
        )
        .catch((error) => {

            console.log(error);
        });

        getWorkerState()
    }

    function getWorkerState() {

        const workerID = document.querySelector("#worker-id");
        const workerState = document.querySelector("#worker-state");
        const workerInfo = document.querySelector("#worker-info");
        const workerProgress = document.querySelector("#worker-progress");

        if (workerState.innerText == "NONE" ||
            workerState.innerText == "PENDING" ||
            workerState.innerText == "STARTED" ||
            workerState.innerText == "RUNNING") {

            fetch("/get_state", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({id: workerID.innerText})
            })
                .then(response => response.json())
                .then(data => {

                    workerState.innerText = data.state
                    workerInfo.innerText = data.info["message"] || data.info
                    workerProgress.innerText = workerProgress.innerText + "="
                }
            )
            .catch((error) => {

                console.log(error);
            });

            setTimeout(getWorkerState, 1000);
        }
    }

</script>
