/* --------------------------------------------------------------------- */
/* ------------------------------- import ------------------------------ */
/* --------------------------------------------------------------------- */

@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,400i,500i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');


/* --------------------------------------------------------------------- */
/* ----------------------------- css vars  ----------------------------- */
/* --------------------------------------------------------------------- */

:root {
	/* default css vars in /themes/default.css */

	--sans-serif-condensed-font:'Barlow Condensed', sans-serif;
	--sans-serif-font:'Barlow Semi Condensed', sans-serif;
	--monospace-font:'Source Code Pro', monospace;

	--body-bg-color: hsl(0, 0%, 97%);

	--nav-menu-height: 65px;

	--annotation-metadata-text-color: hsl(0, 0%, 70%);

	/* --------------------------------------- */

	--body-text-color: hsl(0, 0%, 33%);
	--body-text-color-light: hsl(0, 0%, 60%);
	--body-text-color-faded: hsl(0, 0%, 67%);

	/* input */
	--input-text-color: hsl(0, 0%, 33%);
	--input-placeholder-color: hsl(0, 0%, 87%);
	--input-placeholder-hover-color: hsl(0, 0%, 60%);

	--accent-warning: hsl(0, 80%, 65%);
}

/* --------------------------------------------------------------------- */
/* ------------------------------ _index ------------------------------- */
/* --------------------------------------------------------------------- */

* {

	box-sizing: border-box;
}

*:focus {

	outline: none;
}

html {

	overflow-y: scroll;

	/* prevent font scaling in landscape */
	-webkit-text-size-adjust: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {

	background-color: var(--body-bg-color);
}

body::after {
	/* Pre-load active-state images */
	content:
		url("../images/nav/dashboard-compact.png")
		url("../images/nav/index-active.png")
		url("../images/nav/recent-active.png")
		url("../images/nav/random-active.png")
		url("../images/nav/create-active.png")
		url("../images/nav/trash-active.png")
		url("../images/nav/user-active.png")
		url("../images/nav/user-compact-active.png")
		url("../images/annotation_options/edit-active.png")
		url("../images/annotation_options/trash-active.png")
		url("../images/annotation_options/restore-active.png")
		url("../images/annotation_options/delete-active.png");

	  position:absolute;
	  width:0;
	  height:0;
	  overflow:hidden;
	  z-index:-1;
}

nav {

	width: 100%;
	position: fixed;
	z-index: 999;

	transition: box-shadow .3s;

	display: grid;
	grid-template-columns: max-content auto max-content;
	grid-template-areas: "navMainMenuBar navSearchMenuBar navMainMenu";
}

	mainMenuBar {

		grid-area: navMainMenuBar;

		height: var(--nav-menu-height);
		padding: 0 15px 0 30px;
		background-color: hsla(0, 0%, 100%, .95);

		display: grid;
		grid-template-columns: repeat(6, auto);
		grid-column-gap: 10px;
		align-items: center;
	}

	mainMenuBar .icon,
	searchMenuBar .icon,
	mainMenu .icon {

		width: 32px;
		height: 32px;
		background-size: 32px 32px;
		background-position: center;
		background-repeat: no-repeat;

		transition: background-image .3s;
	}

	mainMenuBar #buttonDashboard .icon.iconDashboard {

		width: 80px;
		height: 32px;
		background-size: 80px 32px;

		background-image: url("../images/nav/dashboard.png");
	}

	mainMenuBar #buttonDashboard .icon.iconDashboardCompact {

		display: none;

		width: 45px;
		height: 32px;
		background-size: 45px 32px;

		background-image: url("../images/nav/dashboard-compact.png");
	}

	mainMenuBar #buttonIndex .icon.iconIndex {

		background-image: url("../images/nav/index.png");
	}

	mainMenuBar #buttonIndex .icon.iconIndex:hover {

		background-image: url("../images/nav/index-active.png");
	}

	mainMenuBar #buttonRecent .icon.iconRecent {

		background-image: url("../images/nav/recent.png");
	}

	mainMenuBar #buttonRecent .icon.iconRecent:hover {

		background-image: url("../images/nav/recent-active.png");
	}

	mainMenuBar #buttonRandom .icon.iconRandom {

		background-image: url("../images/nav/random.png");
	}

	mainMenuBar #buttonRandom .icon.iconRandom:hover {

		background-image: url("../images/nav/random-active.png");
	}

	mainMenuBar #buttonTrash .icon.iconTrash {

		background-image: url("../images/nav/trash.png");
	}

	mainMenuBar #buttonTrash .icon.iconTrash:hover {

		background-image: url("../images/nav/trash-active.png");
	}

	mainMenuBar #buttonCreate {

		/*  */
	}

		mainMenuBar #buttonCreate .icon.iconCreateMenu {

			background-image: url("../images/nav/create.png");
		}

		mainMenuBar #buttonCreate .icon.iconCreateMenu:hover,
		mainMenuBar #buttonCreate .icon.iconCreateMenu.iconCreateMenuActive {

			cursor: pointer;

			background-image: url("../images/nav/create-active.png");
		}

		mainMenuBar #buttonCreate #createMenuChoices {

			display: none;
			position: fixed;
			top: 77px;
		}

		mainMenuBar #buttonCreate #createMenuChoices a {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 100%, 75%, 1.00);
			font-size: 9.5pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			-webkit-transition: background-color .2s, color .2s; /* Safari */
			transition: background-color .2s, color .2s;

			display: block;
			padding: 12px 14px;
			background-color: hsla(220, 100%, 95%, 0.95);
		}

		mainMenuBar #buttonCreate #createMenuChoices a:hover {

			background-color:  hsla(220, 100%, 90%, 0.95);
			color: hsla(220, 100%, 75%, 1.00);
		}

		mainMenuBar #buttonCreate #createMenuChoices a.disabled,
		mainMenuBar #buttonCreate #createMenuChoices a.disabled:hover {

			cursor: default;
			color: hsla(220, 100%, 75%, .50);
		}

		mainMenuBar #buttonCreate #createMenuChoices div {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 100%, 75%, 1.00);
			font-size: 9.5pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			text-align: right;

			display: block;
			padding: 12px 14px;
			background-color: hsla(220, 100%, 90%, 0.95);
		}

		mainMenuBar #createMenuChoices hr {

			background-color: white;

			height: 1px;
		}

	searchMenuBar {

		grid-area: navSearchMenuBar;

		transition: background-color .5s;

		display: grid;
		grid-template-columns: max-content auto;
		align-items: center;

		height: 100%;
		padding-left: 15px;
		background-color: hsla(220, 100%, 95%, 0.95);
	}

		searchMenuBar:focus-within,
		searchMenuBar:hover {

			background-color: hsla(220, 100%, 90%, 0.95);
		}

		searchMenuBar:focus-within input,
		searchMenuBar:hover input {

			color: hsla(220, 70%, 70%, 1.00);
		}

		searchMenuBar .icon.iconSearch {

			background-image: url("../images/nav/search.png");
		}

		searchMenuBar input {

			width: 100%;
			padding-left: 10px;

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 100%, 80%, 1.00);
			font-size: 15pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			transition: color 0.3s;
		}

	mainMenu {

		grid-area: navMainMenu;

		display: grid;
		align-items: center;

		cursor: pointer;

		padding: 0 15px 0 15px;
		background-color: hsla(0, 0%, 100%, .95);
	}

		mainMenu .icon.iconMainMenu {

			width: 40px;
			height: 40px;
			background-size: 40px 40px;

			background-image: url("../images/nav/user.png");
		}

		mainMenu .icon.iconMainMenu:hover,
		mainMenu .icon.iconMainMenu.iconMainMenuActive {

			cursor: pointer;

			background-image: url("../images/nav/user-active.png");
		}

		mainMenu #mainMenuChoices {

			display: none;
			position: fixed;
			right: 10px;
			top: 77px;
		}

		mainMenu #mainMenuChoices a {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 100%, 80%, 1.00);
			font-size: 9.5pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			text-align: right;

			-webkit-transition: background-color .2s, color .2s; /* Safari */
			transition: background-color .2s, color .2s;

			display: block;
			padding: 12px 14px;
			background-color: hsla(220, 100%, 95%, 0.95);
		}

		mainMenu #mainMenuChoices a:hover {

			background-color:  hsla(220, 100%, 90%, 0.95);
			color: hsla(220, 70%, 70%, 1.00);
		}

		mainMenu #mainMenuChoices div {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 70%, 70%, 1.00);
			font-size: 9.5pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			text-align: right;

			display: block;
			padding: 12px 14px;
			background-color: hsla(220, 100%, 90%, 0.95);
		}

		mainMenu #mainMenuChoices hr {

			background-color: hsla(220, 100%, 98%, 0.95);

			height: 1px;
		}

	mainMenuCompact {

		grid-area: navMainMenu;

		display: none;
		align-items: center;

		cursor: pointer;

		background-color: hsla(0, 0%, 100%, .95);
	}

		mainMenuCompact .icon.iconMainMenuCompact {

			width: 40px;
			height: 40px;
			background-size: 40px 40px;

			background-image: url("../images/nav/user-compact.png");
		}

		mainMenuCompact .icon.iconMainMenuCompact:hover,
		mainMenuCompact .icon.iconMainMenuCompact.iconMainMenuCompactActive {

			cursor: pointer;

			background-image: url("../images/nav/user-compact-active.png");
		}

		mainMenuCompact #mainMenuCompactChoices {

			display: none;
			position: fixed;
			right: 10px;
			top: 77px;
		}

		mainMenuCompact #mainMenuCompactChoices a {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 100%, 80%, 1.00);
			font-size: 9.5pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			text-align: right;

			-webkit-transition: background-color .2s, color .2s; /* Safari */
			transition: background-color .2s, color .2s;

			display: block;
			padding: 12px 14px;
			background-color: hsla(220, 100%, 95%, 0.95);
		}

		mainMenuCompact #mainMenuCompactChoices a:hover {

			background-color:  hsla(220, 100%, 90%, 0.95);
			color: hsla(220, 70%, 70%, 1.00);
		}

		mainMenuCompact #mainMenuCompactChoices div {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsla(220, 70%, 70%, 1.00);
			font-size: 9.5pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;

			text-align: right;

			display: block;
			padding: 12px 14px;
			background-color: hsla(220, 100%, 90%, 0.95);
		}

		mainMenuCompact #mainMenuCompactChoices hr {

			background-color: white;

			height: 1px;
		}

		/* Mobile */

		@media only screen and (max-width: 1024px) {

			/* Mobile */

		}

		@media only screen and (max-width: 768px) {

			/* Mobile */

		}

		@media only screen and (max-width: 512px) {

			/* Mobile */

			mainMenuBar {

				grid-template-columns: repeat(2, max-content);
			}

			mainMenuBar #buttonDashboard .icon.iconDashboard {

				display: none;
			}

			mainMenuBar #buttonDashboard .icon.iconDashboardCompact {

				display: block;
			}

			mainMenuBar #buttonIndex,
			mainMenuBar #buttonRecent,
			mainMenuBar #buttonRandom,
			mainMenuBar #buttonTrash {

				display: none;
			}

			mainMenu {

				display: none;
			}

			mainMenuCompact {

				display: grid;
			}
		}

		@media only screen and (max-width: 320px) {

			mainMenuBar {

				padding: 0 15px 0 15px;

				grid-template-columns: auto;
				grid-column-gap: 0;
			}

			mainMenuBar #buttonDashboard {

				display: none;
			}
		}

main {

	padding-top: var(--nav-menu-height);
}

	mainFlash {

		/*  */
	}

	mainFlash .flashContainer {

		margin: 25px;
	}

	mainFlash .flashMessage {

		display: grid;
		grid-row-gap: 10px;
		grid-template-columns: 1fr max-content;
		align-items: center;

		padding: 10px;

		/* font block */
		font-family: var(--sans-serif-condensed-font);
		color: white;
		font-size: 11pt;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 100%;
		text-transform: uppercase;

		text-align: center;
	}

	.flashMessage ~ .flashMessage {

		border-top: solid 1px white;
	}

	mainFlash .flashMessage.flashSuccess {

		background-color: hsla(220, 100%, 95%, 0.95);
		color: hsla(220, 100%, 75%, 1.00);
	}

	mainFlash .flashMessage.flashWarning {

		background-color: hsla(0, 100%, 96%, 0.95);
		color: hsla(0, 100%, 75%, 1.00);
	}

	mainFlash .flashMessage .flashClose {

		cursor: pointer;

		transition: color .3s;
	}

	mainFlash .flashMessage.flashWarning .flashClose:hover {

		color: hsla(0, 100%, 60%, 1.00);
	}

	mainFlash .flashMessage.flashSuccess .flashClose:hover {

		color: hsla(220, 100%, 60%, 1.00);
	}

footer {

	margin-top: 25px;
	min-height: 200px;

	padding-top: 15px;

	background-color: hsla(220, 100%, 95%, 0.95);
	box-shadow: 0 50vh 0 50vh hsla(220, 100%, 95%, 0.95);

	text-align: center;
	color: hsla(220, 100%, 80%, 1.00);
}

footer > a,
footer > span {
	display: inline-block;

	padding: 7px;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsla(220, 100%, 75%, 1.00) !important;
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;
}

footer > a:hover {

	color: hsla(220, 85%, 65%, 1.00) !important;
}

.block {

	display: grid;
	grid-template-columns:
		   [blockFull-start
		   blockLabel] minmax(max-content, 1fr)
		[blockContent] minmax(256px, 1024px)
		  [blockEmpty] minmax(0, 1fr)
		    [blockFull-end];

	background-color: white;
}

	.block.blockHeader {

		margin-top: 25px;
		margin-left: 25px;
		margin-bottom: 0;
		margin-right: 25px;

		padding: 0;
	}

	.block.blockInvisible {

		margin: 0;
		padding: 0;
	}

	.block.blockFloating {

		margin: 25px;
		padding: 0;
	}

	.block.blockBleeding {

		margin: 0;
		padding: 0;
	}

	.block > .blockContent {

		grid-column: blockContent;

		padding: 25px;

		font-size: 0;
	}

	.block > .blockMenu {

		grid-column: blockContent;

		text-align: center;

		padding-top: 0;
		padding-left: 40px;
		padding-bottom: 15px;
		padding-right: 40px;
	}

	.block > .blockHeaderMenu {

		grid-column: blockFull;
	}

	.block > .blockPaginationTop {

		grid-column: blockFull;
	}

	.block > .blockPaginationBottom {

		grid-column: blockFull;

		padding-top: 15px;
	}

	.block > .blockTitle {

		grid-column: blockContent;

		padding: 15px;

		/* font block */
		font-family: var(--sans-serif-condensed-font);
		color: rgba(0, 0, 0, 0.25);
		font-size: 11pt;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 100%;
		text-transform: uppercase;

		text-align: center;
	}

		.blockTitle .titleDetailContainer {

			margin: auto;
			width: 75%;
			padding-top: 5px;
		}

		.titleDetailContainer.titleDescription {

			text-transform: none;
		}

	.block > .blockLabel {

		grid-column: blockLabel;

		padding-top: 25px;
		padding-left: 25px;
		padding-right: 0;
		padding-bottom: 0;

		/* font block */
		font-family: var(--sans-serif-condensed-font);
		color: rgba(0, 0, 0, 0.25);
		font-size: 11pt;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 100%;
		text-transform: uppercase;

		text-align: right;
	}

	@media only screen and (max-width: 512px) {

		/* Mobile */

		.block > .blockLabel {

			grid-column: blockContent;

			padding-top: 25px;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;

			text-align: center;
		}

		.block > .blockContent {

			/*  */
		}

	}

/* pagination ------------------------------------------------------------- */

.headerMenuContainer {

	border-bottom: 1px solid hsla(220, 100%, 95%, 0.95);

	display: grid;
	grid-template-areas: "headerMenuSpacer  headerMenuButtons  headerMenuSpacer";
	grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
}

.headerMenuContainer .headerMenuSpacerLeft,
.headerMenuContainer .headerMenuSpacerRight {

	grid-area: "headerMenuSpacer";
}

.headerMenuContainer .headerMenuButtonsContainer {

	grid-area: "headerMenuButtons";
}

.headerMenuContainer .headerMenuButtonsContainer {

	font-size: 0; /* IMPORTANT: removes spacing between elements */
}

.headerMenuContainer .headerMenuButtonsContainer * {

	background-color: white;

	transition: background-color .3s;

	padding: 12px 16px;

	/* border-left: .5px solid hsla(220, 100%, 95%, 0.95); */
	/* border-right: 1px solid hsla(220, 100%, 95%, 0.95); */

	display: inline-block;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: rgba(0, 0, 0, 0.4);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;
}

.headerMenuContainer .headerMenuButtonsContainer .headerMenuButton:first-child {

	border-left: 1px solid hsla(220, 100%, 95%, 0.95);
}

.headerMenuContainer .headerMenuButtonsContainer .headerMenuButton:last-child {

	border-right: 1px solid hsla(220, 100%, 95%, 0.95);
}

.headerMenuContainer .headerMenuButtonsContainer .headerMenuButton:hover {

	background-color: hsla(220, 100%, 90%, 0.95);
}

.headerMenuContainer .headerMenuButtonsContainer .headerMenuButton.headerMenuButtonDisabled {

	cursor: default;

	color: rgba(0, 0, 0, 0.2) !important;
}

.headerMenuContainer .headerMenuButtonsContainer .headerMenuButton.headerMenuButtonDisabled:hover {

	background-color: unset !important;
}

.headerMenuContainer .headerMenuButtonsContainer .headerMenuButton.headerMenuButtonCurrent {

	background-color: hsla(220, 100%, 95%, 0.95);
	color: hsla(220, 70%, 70%, 1.00);
}

	/* Mobile */

	@media only screen and (max-width: 1024px) {

		/*  */
	}

	@media only screen and (max-width: 768px) {

		/*  */
	}

	@media only screen and (max-width: 512px) {

		.headerMenuContainer .headerMenuButtonsContainer * {

			padding: 10px 14px;
			font-size: 10pt;
		}
	}

	@media only screen and (max-width: 320px) {

		.headerMenuContainer .headerMenuButtonsContainer * {

			padding: 6px 8px;
			font-size: 9pt;
		}
	}


/*  */

.paginationContainer .paginationResults {

	text-align: center;

	padding-top: 0;
	padding-left: 25px;
	padding-bottom: 15px;
	padding-right: 25px;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: rgba(0, 0, 0, 0.25);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;
}

.paginationContainer .paginationButtonsContainer {

	border-top: 1px solid hsla(220, 100%, 95%, 0.95);

	display: grid;
	grid-template-areas: "paginationSpacer  paginationButtons  paginationSpacer";
	grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
}

.paginationContainer .paginationButtonsContainer .paginationSpacerLeft,
.paginationContainer .paginationButtonsContainer .paginationSpacerRight {

	grid-area: "paginationSpacer";

	/* background-color: hsla(220, 100%, 95%, 0.95); */
}

.paginationContainer .paginationButtonsContainer .paginationButtons {

	font-size: 0; /* IMPORTANT: removes spacing between elements */

	grid-area: "paginationButtons";
}

.paginationContainer .paginationButtonsContainer .paginationButtons * {

	background-color: white;

	transition: background-color .3s;

	padding: 18px 22px;

	display: inline-block;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: rgba(0, 0, 0, 0.4);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;
}

.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonPrev,
.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonNext {

	border-right: 1px solid hsla(220, 100%, 95%, 0.95);
	border-left: 1px solid hsla(220, 100%, 95%, 0.95);
}

.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonPrev:hover,
.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonNext:hover,
.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonNumber:hover {

	background-color: hsla(220, 100%, 90%, 0.95);
	color: hsla(220, 70%, 70%, 1.00);
}

.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonPrev:after {

	content: "prev";
}

.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonNext:after {

	content: "next";
}

.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonNumberCurrent {

	background-color: hsla(220, 100%, 95%, 0.95);
	color: hsla(220, 70%, 70%, 1.00);
}

.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonEllipses {

	padding: 18px 5px;

	color: rgba(0, 0, 0, 0.3);
}

.paginationContainer .paginationButtonsContainer .paginationButtons *.paginationButtonDisabled {

	color: rgba(0, 0, 0, 0.2) !important;
}

.paginationContainer .paginationButtonsContainer .paginationButtons *.paginationButtonDisabled:hover {

	background-color: unset !important;
}

	/* Mobile */

	@media only screen and (max-width: 1024px) {

		/*  */
	}

	@media only screen and (max-width: 768px) {

	}

	@media only screen and (max-width: 512px) {

		.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonPrev:after {

			content: "<";
		}

		.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonNext:after {

			content: ">";
		}

		.paginationContainer .paginationButtonsContainer .paginationButtons * {

			padding: 12px 12px;
			font-size: 10pt;
		}

		.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonEllipses {

			padding: 12px 5px;
		}
	}

	@media only screen and (max-width: 320px) {

		.paginationContainer .paginationButtonsContainer .paginationButtons * {

			padding: 9px 9px;
			font-size: 9pt;
		}

		.paginationContainer .paginationButtonsContainer .paginationButtons .paginationButtonEllipses {

			padding: 9px 5px;
		}
	}

/* globals ---------------------------------------------------------------- */

a {

	color: rgba(0, 0, 0, 0.5);

	transition: color .2s;
}
a *:hover {

	color: hsla(220, 100%, 75%, 1.00);
}

*.link {

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: rgba(0, 0, 0, 0.5);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;

	transition: color 0.3s;
}

*.link:hover {

	color: hsla(220, 100%, 75%, 1.00);
}

*.link.button {

	display: inline-block;

	cursor: pointer;
}

*.link.button.form,
*.link.button.header,
*.link.button.settings,
*.link.button.tools {

	padding-right: 15px;
}

*.link.button.changePassword {

	padding-top: 8px;
	padding-left: 8px;
}

*.link.button.index,
*.link.button.dashboard {

	display: block;

	padding-bottom: 5px;
}

*.dashboardMenu {

	padding-right: 15px;
}

*.link.button.dashboard:last-child {
	padding-bottom: 0;
}

*.link.button.warning,
*.link.button.warning:hover {

	color: hsla(0, 100%, 75%, 1.00);
}

*.link.button.faded:hover {

	color: hsla(220, 100%, 75%, 1.00) !important;
}

*.link.button.faded {

	color: rgba(0, 0, 0, 0.25) !important;
}

.current {

	color: hsla(220, 100%, 75%, 1.00) !important;
}

.warning {

	color: hsla(0, 100%, 75%, 1.00) !important;
}


.accent {

	color: hsla(220, 100%, 75%, 1.00) !important;
}

.accentFaded {

	color: hsla(220, 100%, 85%, 1.00) !important;
}

.faded {

	color: rgba(0, 0, 0, 0.25) !important;
}

.ghost {

	color: rgba(0, 0, 0, 0.1) !important;
}

.white {

	color:white !important;
}

.forceCenter {

	text-align: center !important;
}

.marked {

	background-color: hsla(220, 100%, 90%, 1.0) !important;
	padding: 1px 4px 3px 4px;
}

.indexLetter {

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: rgba(0, 0, 0, 0.1) !important;
	font-size: 20pt !important;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 80% !important;
}

mark {

	background-color: hsla(220, 100%, 90%, .25) !important;
	color: hsl(220, 100%, 70%) !important;
	padding: 1px 4px 3px 4px;
}

.paddedAnchor:before {
	content: '';
	display: block;
	visibility: hidden;
	height: 105px;
	margin-top: -105px;
}

.text {

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: rgba(0, 0, 0, 0.5);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
}

.text.upper {

	text-transform: uppercase;
}

.text.dashboard,
.text.settings {

	display: block;

	padding-bottom: 5px;
}

.text.dashboard:last-child {

	padding-bottom: 0;
}

.dropShadowBig {

	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.125) !important;
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.125) !important;
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.125) !important;
}

.dropShadowSmall {

	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.125) !important;
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.125)!important;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.125) !important;
}

/* --------------------------------------------------------------------- */
/* ---------------------------- annotations ---------------------------- */
/* --------------------------------------------------------------------- */

.annotationContainerStatic {

	padding-bottom: 50px;
}

.annotationContainerStatic:last-child{

    padding-bottom: 0;
}

.annotationContainerInteractive {

	transition: .3s;
}

.annotationContainerInteractive .annotation {

	/*  */
}

.annotationContainerInteractive .annotationOptions {

	padding-top: 20px;
	font-size: 0;

	display: grid;
	grid-template-columns: max-content auto;
}

.annotationContainerInteractive .annotationOptions .annotationOptionsLeft * {

	padding-right: 15px;
}

.annotationContainerInteractive .annotationOptions .annotationOptionsRight {

	justify-self: end;
}

.annotationContainerInteractive .annotationOptions .icon {

	width: 23px;
	height: 23px;
	background-size: 23px 23px;
	background-position: center;
	background-repeat: no-repeat;

	display: inline-block;

	transition: background-image .3s;

	cursor: pointer;
}

.annotationContainerInteractive .annotationOptions .icon.iconDisabled {

	cursor: default;
}

.annotationContainerInteractive .annotationOptions #editAnnotation .icon.iconEditAnnotation {

	background-image: url("../images/annotation_options/edit.png");
}

.annotationContainerInteractive .annotationOptions #editAnnotation .icon.iconEditAnnotation:hover {

	background-image: url("../images/annotation_options/edit-active.png");
}

.annotationContainerInteractive .annotationOptions #shareAnnotation .icon.iconShareAnnotation {

	background-image: url("../images/annotation_options/share-disabled.png");
}

.annotationContainerInteractive .annotationOptions #duplicateAnnotation .icon.iconDuplicateAnnotation {

	background-image: url("../images/annotation_options/duplicate-disabled.png");
}

.annotationContainerInteractive .annotationOptions #trashAnnotation .icon.iconTrashAnnotation {

	background-image: url("../images/annotation_options/trash.png");
}

.annotationContainerInteractive .annotationOptions #trashAnnotation .icon.iconTrashAnnotation:hover {

	background-image: url("../images/annotation_options/trash-active.png");
}

.annotationContainerInteractive .annotationOptions #restoreAnnotation .icon.iconRestoreAnnotation {

	background-image: url("../images/annotation_options/restore.png");
}

.annotationContainerInteractive .annotationOptions #restoreAnnotation .icon.iconRestoreAnnotation:hover {

	background-image: url("../images/annotation_options/restore-active.png");
}

.annotationContainerInteractive .annotationOptions #deleteAnnotation .icon.iconDeleteAnnotation {

	background-image: url("../images/annotation_options/delete.png");
}

.annotationContainerInteractive .annotationOptions #deleteAnnotation .icon.iconDeleteAnnotation:hover {

	background-image: url("../images/annotation_options/delete-active.png");
}

/* ------------------ passage ----------------- */

.annotation .annotationPassage {

	/* used to counteract line-height */
	margin-top: -4px;

	/* font block */
	font-family: var(--sans-serif-font);
	color: var(--body-text-color);
	font-size: 11pt;
	font-weight: unset;
	letter-spacing: unset;
	line-height: 150%;
	text-transform: unset;
}

/* ----------------- metadata ----------------- */

.annotation .annotationMetaData {

	font-size: 0;

	margin-top: 5px;
	/* margin-left; 5px; */
}

.annotation .annotationMetaData .annotationAttribution {

	display: inline-block;

	margin-bottom: 6px;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: var(--annotation-metadata-text-color);
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 110%;
	text-transform: uppercase;
}

.annotation .annotationMetaData .annotationAttribution a {

	color: var(--annotation-metadata-text-color);
}

.annotation .annotationMetaData .annotationAttribution a:hover {

	color: hsla(220, 100%, 75%, 1.00);
}

.annotation .annotationMetaData .annotationNotes {
	display: inline-block;

	margin-bottom: 5px;

	/* font block */
	font-family: var(--sans-serif-font);
	color: var(--annotation-metadata-text-color);
	font-size: 10.5pt;
	font-weight: 400;
	letter-spacing: unset;
	line-height: 150%;
	text-transform: unset;
}

/* --------------------------------------------------------------------- */
/* ------------------------------ markdown ----------------------------- */
/* --------------------------------------------------------------------- */

.markdown p:first-of-type {

	margin-top: 0;
}

.markdown p {

	text-align: justify;
	hyphens: auto;

	margin-top: 10px;
}

.markdown strong {

	font-weight: 500;
	color: hsl(220, 100%, 70%);
}

.markdown em {

	font-style: italic;
	color: hsl(220, 100%, 70%);
}

.markdown u {

	text-decoration: underline;
	text-decoration-skip: ink;
	text-decoration-color: var(--body-text-color-faded);
	color: hsl(220, 100%, 70%);
}

.markdown del {

	text-decoration: line-through;
	text-decoration-color: var(--body-text-color-light);
	color: var(--body-text-color-faded);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	padding-bottom: 10px;
	color: hsl(220, 100%, 70%);
}

.markdown * + h1,
.markdown * + h2,
.markdown * + h3,
.markdown * + h4,
.markdown * + h5,
.markdown * + h6 {
	/* padding-top: 20px; */
}

.markdown h1 + p,
.markdown h2 + p,
.markdown h3 + p,
.markdown h4 + p,
.markdown h5 + p,
.markdown h6 + p  {
	margin-top: 10px !important;
}

.markdown h1 { font-size: 22pt; }
.markdown h2 { font-size: 20pt; }
.markdown h3 { font-size: 16pt; }
.markdown h4 { font-size: 12pt; }
.markdown h5 { font-size: 11pt; }
.markdown h6 {font-size: 10pt; }

.markdown blockquote {

	margin: 30px;
}

.markdown ul, ol {

	padding-left: 15px;
}
.markdown ol {

	list-style-type: decimal-leading-zero;
	list-style-position: inside;
	list-style-image: none;
}

.markdown ul {

	list-style-type: square;
	list-style-position: inside;
	list-style-image: url("../images/bullet.png");
}

.markdown ol li::before {

	content: "";
	width: 5px;
	display: inline-block;
}

.markdown hr {

	border: solid 1px hsl(0, 0%, 85%);
	margin: 20px 0;
}


.markdown code {

	padding: 2px 7px 3px 7px;
	margin: 0 4px 0 2px;

	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;

	background-color: hsl(0, 0%, 92%) !important;
	border-radius: 2px;

	/* font block */
	font-family: var(--monospace-font);
	color: hsl(0, 0%, 30%);
	font-size: 9pt;
	font-weight: unset;
	letter-spacing: unset;
	line-height: unset;
	text-transform: unset;

	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.125) !important;
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.125)!important;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.125) !important;
}

.markdown pre code {

	background-color: hsl(0, 0%, 95%) !important;

	display: block;

	margin: 5px 0;
	padding: 24px 24px;

	white-space: pre-wrap;
	word-wrap: break-word;

	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.125) !important;
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.125) !important;
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.125) !important;
}

/* --------------------------------------------------------------------- */
/* ------------------------------- forms ------------------------------- */
/* --------------------------------------------------------------------- */

form *::-webkit-input-placeholder {

	font-family: var(--sans-serif-condensed-font) !important;
	color: var(--input-placeholder-color);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: .75px;
	line-height: unset;
	text-transform: uppercase;

	transition: color 0.3s;
}

form *:hover::-webkit-input-placeholder {

	color: var(--input-placeholder-hover-color);
}

input,
textarea {

	border-radius: 0;

	/* font block */
	font-family: var(--sans-serif-font);
	color: var(--input-text-color);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: unset;
	line-height: 100%;
	text-transform: none;
}

textarea {

	resize: none;
	overflow: hidden;
	vertical-align: top;
}

.formField input,
.formField textarea {

	margin: 2px 0;
	padding: 10px 14px;

	width: 100%;

	line-height: 150%;

	background-color: hsl(0, 0%, 95%);
}

.formField input:focus,
.formField textarea:focus {

	-webkit-box-shadow: inset 2px 2px 0px 0px hsl(0, 0%, 85%);
	   -moz-box-shadow: inset 2px 2px 0px 0px hsl(0, 0%, 85%);
	        box-shadow: inset 2px 2px 0px 0px hsl(0, 0%, 85%);
}

.formField input.fieldError {

	background-color: hsl(0, 100%, 90%) !important;
	color: white !important;
}

.formField input.fieldError:focus {

	-webkit-box-shadow: inset 2px 2px 0px 0px hsl(0, 100%, 85%) !important;
	   -moz-box-shadow: inset 2px 2px 0px 0px hsl(0, 100%, 85%) !important;
		    box-shadow: inset 2px 2px 0px 0px hsl(0, 100%, 85%) !important;
}

.formField input.fieldError::-webkit-input-placeholder {

	color: white !important;
}

.formField .fieldLabel {

	padding: 0 0 2px 3px;
}

.formField:not(:first-child) .fieldLabel {

	padding-top: 5px;
}

/* ------------------------------- forms ------------------------------- */

button {

	cursor: pointer;
}

hr {
	height: 2px;
	background-color: hsl(0, 0%, 90%);
}

/* --------------------------------------------------------------------- */

#bulkEditor {

	margin: 0 25px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 25px;
}

#bulkEditor input[type="text"],
#bulkEditor textarea {

	margin: 2px 0;
	padding: 6px 10px;

	line-height: 150%;
	width: 100%;
	background-color: hsl(0, 0%, 95%);
}

#bulkEditor textarea {

	min-height: 50px;
}

#bulkEditor .bulkUpdateButton {

	padding-top: 5px;
	padding-left: 5px;
}

#bulkEditor .bulkEditPill {

	margin: 10px 0 0 0;
}

#bulkEditor #bulkDeleteForm {

	display: inline-block;

	padding-top: 10px;
	padding-left: 5px;

}

/* --------------------------------------------------------------------- */
/* ---------------------------- editor.html ---------------------------- */
/* --------------------------------------------------------------------- */

#annotationEditor textarea#passage {

	min-height: 250px;
}

#annotationEditor textarea#notes {

	min-height: 100px;
}

#annotationEditor .annotationMetaData {

	margin-top: 15px;
	margin-left: 5px;
}

/* --------------------------------------------------------------------- */


.pill {

	display: inline-block;

	background-color: hsl(0, 0%, 92%);

	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsl(0, 0%, 53%);
	font-size: 10.5pt;
	font-weight: 400;
	letter-spacing: unset;
	line-height: 100%;
	text-transform: uppercase;

	transition: 0.3s;

	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);
}

.pill:hover {

	background-color: rgb(164, 193, 255)!important;
	color: hsl(0, 0%, 100%) !important;
}

.pill.collection {

	margin: 2px 2px;
	padding: 6px 12px;

	border-radius: 8px;
}

.pill.tag {

	margin: 2px 2px;
	padding: 6px 8px;

	border-radius: 1px;
}

.pill.selected {

	background-color: hsl(220, 100%, 82%)!important;
	color: hsl(0, 0%, 100%) !important;
}

.pill.selected:hover {

	background-color: red !important;
}

.pill.available {

	/* no change */
}

.pill.unavailable {

	background-color: hsl(0, 0%, 90%)!important;
	color: hsl(0, 0%, 100%) !important;

	cursor: default;
}

/* --------------------------------------------------------------------- */
/* ----------------------------- login.html ---------------------------- */
/* --------------------------------------------------------------------- */


#userWelcome {

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh;
	align-items: center;
	justify-items: center;
}

#userWelcome .welcomeContainer {

	margin: 25px;

	background-color: hsl(220, 100%, 90%);

	display: grid;
	grid-template-areas: "login" "info";
	grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);

}

@media only screen and (max-width: 512px) {

	/* Mobile */

	#userWelcome .welcomeContainer {

		grid-template-areas: "login"
		                     "info";
		grid-template-columns: minmax(100px, 400px);
	}
}

#userWelcome .welcomeContainer .loginContainer  {

	grid-area: "login";
	align-self: end;

	background-color: white;
	padding: 50px 25px 25px 25px;
}

	#userWelcome .welcomeContainer img.appLogo {

		display: block;

		width: 140px;
		height: 50px;

		margin: auto;
	}

	#userWelcome .welcomeContainer .loginForm {

		margin: 50px 0 0 0;
	}

	#userWelcome .welcomeContainer .loginForm .loginRemember {

		padding-top: 5px;
		padding-left: 5px;

	}

	#userWelcome .welcomeContainer .loginFormOptions {

		padding: 7px;

		text-align: right;
	}

		.loginFormOptions button {

			/* font block */
			font-family: var(--sans-serif-condensed-font);
			color: hsl(0, 0%, 70%);
			font-size: 11pt;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 100%;
			text-transform: uppercase;
		}

	#userWelcome .welcomeContainer .loginTrouble  {

		margin: 50px 0 0 0;
		text-align: center;

		/* font block */
		font-family: var(--sans-serif-condensed-font);
		color: hsl(0, 0%, 70%);
		font-size: 10pt;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 100%;
		text-transform: none;
	}

#userWelcome .welcomeContainer .accentContainer  {

	grid-area: "info";
	align-self: end;

	padding: 25px;

	text-align: center;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsl(220, 100%, 75%);
	font-size: 10pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: none;
}

loginFlash {

	/*  */
}

loginFlash .flashContainer {

	margin-bottom: 10px;

	display: grid;
	grid-template-columns: 1fr max-content;
	align-items: center;
}

loginFlash .flashMessage {

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsl(0, 100%, 80%) !important;
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;

	text-align: center;
}

loginFlash .flashMessage.flashWarning {

	/*  */
}

loginFlash .flashMessage .flashClose {

	display: none;
}
/* ---------------- */

#errorPage {

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50vh;
	align-items: center;
	justify-items: center;
}

#errorPage .errorContainer {

	background-color: white;
	min-width: 500px;

	padding: 50px;

	display: grid;
	grid-template-rows: 75px max-content;
	justify-items: center;
}

#noResults {

}

#noResults .noResultsContainer {

	background-color: white;
	/* min-width: 500px; */
	height: 100vh;

	text-align: center;

	/* padding: 50px; */
}

#flatPage {

}

#flatPage .flatContent {

	/* used to counteract line-height */
	margin-top: -4px;

	/* font block */
	font-family: var(--sans-serif-font);
	color: var(--body-text-color);
	font-size: 11pt;
	font-weight: unset;
	letter-spacing: unset;
	line-height: 150%;
	text-transform: unset;
}

#flatPage .flatTitle {

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsl(220, 100%, 70%);
	font-size: 22pt;
	font-weight: unset;
	letter-spacing: unset;
	line-height: 150%;
	text-transform: uppercase;
}

#flatPage img {

	max-width: 100%;
}

#flatPage a {

	color: hsl(220, 100%, 70%);

	transition: .3s;
}

#flatPage a:hover {

	color: hsl(0, 0%, 80%);
}

#flatPage .exampleRedPill {

	background-color: hsl(10, 100%, 80%);
	color: white;
}

#flatPage .examplePurplePill {

	background-color: hsl(250, 85%, 85%);
	color: white;
}

#flatPage .exampleGreenPill {

	background-color: hsl(130, 60%, 80%);
	color: white;
}

#flatPage .exampleYellowPill {

	background-color: hsl(50, 100%, 70%);
	color: white;
}

/*  */

#dashboardNotification {

	margin: 25px;
}

#dashboardNotification .dashboardNotificationContainer {

	display: grid;
	grid-template-columns: 1fr max-content;
	align-items: center;

	padding: 15px;

	background-color: hsla(220, 100%, 95%, 0.95);

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsla(220, 100%, 75%, 1.00);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 125%;
	text-transform: unset;

	text-align: center;
}

#dashboardNotification .dashboardNotificationMessage {

	justify-self: center;

	max-width: 800px;

	/* used to counteract line-height */
	margin-top: -4px;
}

#dashboardNotification .dashboardNotificationMessage a {

	color: hsla(220, 85%, 65%, 1.00);
	text-decoration: underline;
}

#dashboardNotification #dashboardNotificationHideButton {

	align-self: baseline;

	padding-left: 15px;
	line-height: 100%;

	cursor: pointer;

	transition: color .2s;
}

#dashboardNotification #dashboardNotificationHideButton:hover {

	color: hsla(220, 100%, 65%, 1.00);
}

input[type="checkbox"] {

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;

	display: inline-block;

	background-color: hsl(0, 0%, 95%);

	position: relative;
	/* top: 5px; */
	/* margin-bottom: 5px; */
	height: 20px;
	width: 20px;
	border: 0;

	cursor: pointer;
	outline: none;
}

input[type="checkbox"]:hover {

	background-color: hsla(220, 100%, 95%, 0.95);
}

input[type="checkbox"]:checked {

	background-color: hsla(220, 100%, 90%, 0.95);

	-webkit-box-shadow: inset 2px 2px 0px 0px hsla(220, 100%, 80%, 0.95);
	   -moz-box-shadow: inset 2px 2px 0px 0px hsla(220, 100%, 80%, 0.95);
	        box-shadow: inset 2px 2px 0px 0px hsla(220, 100%, 80%, 0.95);
}

input[type="checkbox"] + label {

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: hsl(0, 0%, 80%);
	font-size: 10pt;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 150%;
	text-transform: uppercase;

	padding-left: 6px;
	position: relative;
	bottom: 5px;
}

/*  */

input[type="file"] {

	display: block;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	outline: none;
	opacity: 0;
	z-index: -1;
}

input[type="file"] + label {

	font-family: var(--sans-serif-condensed-font);
	color: hsla(220, 100%, 75%, 1.00);
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;

	display: block;
	height: 200px;
	line-height: 200px;
	text-align: center;

	margin: 20px 0;

	border: 2px dashed hsla(0, 0%, 90%, 1);
}

input[type="checkbox"]#confirm {

	margin-left: 10px;
}