medKit {

	display: block;
	position: relative;

	margin-top: 10px;
}

medKit div[id$="medKitData"]{

	visibility: hidden;
}

medKit div[id$="medKitPillBox"]{

	/*  */
}

medKit input[id$="medKitInput"] {

	padding: 6px 12px;
	line-height: 150%;

	display: inline-block;
	width: 200px;

	transition: .2s;
}

medKit div[id$="medKitSuggestionBox"] {

	position: absolute;
	width: 100%;

	margin-top: 5px;

	background-color:  hsla(220, 100%, 90%, 0.95);

	-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.125);
	   -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.125);
	        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.125);
}

medKit div[class$="medKitSuggestion"]:first-child {

	border-top: solid 3px hsl(220, 100%, 85%);
}

medKit div[class$="medKitSuggestion"]:last-child {

	border-bottom: solid 3px hsl(220, 100%, 85%);
}

medKit div[class$="medKitSuggestion"] {

	padding: 8px 12px;

	cursor: pointer;

	/* font block */
	font-family: var(--sans-serif-condensed-font);
	color: var(--input-text-color);
	font-size: 10.5pt;
	font-weight: 400;
	letter-spacing: .25px;
	line-height: 150%;
	text-transform: uppercase;

	transition: .2s;
}

medKit div[class$="medKitSuggestion"]:hover,
medKit div[id$="medKitSuggestionSelected"] {

	background-color:  hsl(220, 100%, 85%);
}

medKit .medKitPill {

	/*  */
}

medKit .medKitPill:hover {

	background-color: hsl(0, 0%, 92%) !important;
	color: hsl(0, 100%, 75%) !important;
}

medKit .medKitPill.warning {

	background-color: hsl(0, 100%, 75%) !important;
	color: white !important;
}