<div id="dashboardNotification">
    <div class="dashboardNotificationContainer">
        <div class="dashboardNotificationMessage">

            Welcome to the HLTS Beta!
            <br>
            <br>
            Thank you so much for participating in the beta! If this is your first time here please  <a href="/beta/welcome">read the Beta Welcome Message</a> for a few things to note before starting and some things to keep in mind while using the app. And don't forget to <a href="/change_password">change your password</a>!
            <br>
            <br>
            Having trouble finding your way around? <a href="/manual/main">read the HLTS Manual!</a>
            <br>
            <br>
            <span class="accentFaded">Click the ✕ to hide this message permanently.</span>

        </div>
        <div id="dashboardNotificationHideButton">✕</div>
    </div>
</div>