<footer>
    <a href="{{ url_for('main.dashboard') }}">dashboard</a>
    |<a href="{{ url_for('main.tools') }}">tools</a>
    |<a href="{{ url_for('user.settings') }}">user</a>
    |<a href="{{ url_for('flat.page', which='manual/main') }}"">manual</a>
    |<a href="{{ url_for('flat.page', which='beta/welcome') }}">beta welcome</a>
    |<a href="{{ url_for('flat.page', which='contact') }}">contact</a>

    <div class="footerInfo">Ut faucibus ligula sit amet turpis varius ultricies. Pellentesque sagittis ligula vel fermentum aliquam. Ut lorem massa, ornare eget nibh eu, eleifend tincidunt felis. Bugs, sugs, feedback, questions:
        <a class="accent" href="mailto:{{ config.MAIL_USERNAME }}">{{ config.MAIL_USERNAME }}</a>
    </div>
</footer>
