{% macro header_buttons(endpoint, modes) -%}

	{% for mode in modes %}

		{% set current = 'current' if request.view_args['mode'] == mode else '' %}

		<a class="link button header {{ current }}" href='{{ url_for(endpoint, mode=mode) }}'>{{ mode }}</a>

	{% endfor %}

{%- endmacro %}


{% if request.endpoint in ['main.index', 'main.tags', 'main.recent', 'main.collections'] %}

	<div class="block blockHeader">

		<div class="blockLabel">{{ request.endpoint.split(".")[-1] }}</div>

		<div class="blockContent">

			{% if request.endpoint == 'main.index' %}

				{{ header_buttons(endpoint='main.index', modes=['sources', 'authors', 'tags', 'collections']) }}

			{% elif request.endpoint == 'main.recent' %}

				{{ header_buttons(endpoint='main.recent', modes=['imported', 'edited', 'added']) }}

			{% endif %}

		</div>

	</div>

{% endif %}