<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />

        <title>HL+S</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/petitModal.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/medKit.css') }}" />

    </head>

    {% block body %}

        <body>

            {% include "_nav.html" %}

            <main>

                {% block main %}{% endblock %}

            </main>

            {% include "_footer.html" %}

        </body>

    {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/petitModal.js') }}"></script>

</html>
