{% macro header_buttons(endpoint, modes) -%}

	{% for mode in modes %}

		{% set current = 'current' if request.view_args['mode'] == mode else '' %}

		<a class="link button header {{ current }}" href='{{ url_for(endpoint, mode=mode) }}'>{{ mode }}</a>

	{% endfor %}

{%- endmacro %}


{% macro no_results(message) -%}

    <div class="block blockFloating">

        <div class="blockContent">

            <div class="text upper">{{ message }}</div>

        </div>

    </div>

{%- endmacro %}


{% macro flash() -%}

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

            {% for category, message in messages %}

                <div class="flashContainer {{ category }}">

                    <div class="flashMessage">{{ message }}</div>

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

{%- endmacro %}


{% macro render_form_field(field, label=false, custom_classes=[]) -%}

    {% set classes = custom_classes if custom_classes else [] %}
    {% set classes = classes + ["fieldError"] if field.errors else classes %}
    {% set classes = classes | join(" ") %}

    <div class="formField">

        {% if label %}

            <div class="fieldLabel text upper faded">{{ field.label.text }}:</div>

        {% endif %}

        {{ field(class_=classes) }}

    </div>

{%- endmacro %}


{% macro pagination(results) -%}

    <div class="paginationContainer">

        <div class="paginationMatches">

            <div class="paginationInfo dropShadowSmall">

                {{ results.total }} match{% if results.total != 1 %}es{% endif %}

            </div>

        </div>

        <div class="paginationPages">

            {%- for page in pages %}

                {% if loop.index != results.page %}

                    <a class="paginationPageNumber dropShadowSmall" href="{{ page }}">{{ loop.index }}</a>

                {% else %}

                    <span class="paginationPageNumber dropShadowSmall current">{{ loop.index }}</span>

                {% endif %}

            {%- endfor %}

        </div>

    </div>

{%- endmacro %}


{% macro attribution_from_source_obj(source) -%}

    {# Renders source from Source.serialize() output. #}

    {% if source.name %}

        {{ source.name }}

    {% else %}

        {{ SOURCE_NONE.NAME }}

    {% endif %}

    {% if (source.name and source.author.name) or not (source.name and source.author.name) %} ⋅ {% endif %}

    {% if source.author.name %}

        {{ source.author.name }}

    {% else %}

        {{ AUTHOR_NONE.NAME }}

    {% endif %}

{%- endmacro %}


{% macro attribution_from_author_obj(author) -%}

    {# Renders source from Author.serialize() output. #}

    {% if author.name %}

        {{ author.name }}

    {% else %}

        {{ AUTHOR_NONE.NAME }}

    {% endif %}

{%- endmacro %}


{% macro attribution_from_annotation_obj(annotation) -%}

    {# Renders source from Annotation object. #}

    {% if annotation.source %}

        <a href="{{ url_for('main.source', in_request=annotation.source_id) }}">{{ annotation.source.name }}</a>

    {% else %}

        {{ SOURCE_NONE }}

    {% endif %}

    {% if (annotation.source.name and annotation.source.author.name) %}

        ⋅ {# dot separator #}

    {% endif %}

    {% if annotation.source.author.name %}

        <a href="{{ url_for('main.author', in_request=annotation.source.author_id) }}">{{ annotation.source.author.name }}</a>

    {% endif %}

{%- endmacro %}


{% macro render_multiple_interactive_annotations(results) -%}

    {# Renders paginated interactive annotations. #}

    {% for annotation in results.items %}

        {{ render_interactive_annotation(annotation) }}

    {% endfor %}

{%- endmacro %}


{% macro render_multiple_static_annotations(results) -%}

    {# Renders paginated static annotations. #}

    {% for annotation in results.items %}

        {{ render_static_annotation(annotation) }}

    {% endfor %}

{%- endmacro %}


{% macro render_static_annotation(annotation) -%}

    {# Renders one static annotation. #}

    <div id="{{ annotation.id }}" class="annotationContainerStatic">

        {{ render_base_annotation(annotation) }}

    </div>

{%- endmacro %}


{% macro render_interactive_annotation(annotation) -%}

    {# Renders one interactive annotation. #}

    <div id="{{ annotation.id }}" class="annotationContainerInteractive">

        {{ render_base_annotation(annotation) }}

        <div class="annotationOptions">

            {% if request.endpoint == 'main.trash' %}

                <div class="link button faded pmTrigger restoreAnnotation" action="restore"
                    message="restore annotation?" url="{{ url_for('main.restore_annotation') }}"
                    data="{{ annotation.id }}">restore</div>

                <div class="link button faded pmTrigger killAnnotation" action="kill"
                    message="kill annotation?" url="{{ url_for('main.kill_annotation') }}"
                    data="{{ annotation.id }}">kill</div>

            {% else %}

                <a class="link button faded editAnnotation" href="{{ url_for('main.edit', in_request=annotation.id) }}">edit</a>

                <div class="link button ghost pmDisabledTrigger duplicateAnnotation" action="duplicate"
                    message="duplicate annotation?" url="{{ url_for('main.dashboard') }}"
                    data="{{ annotation.id }}">duplicate</div>

                <div class="link button ghost pmDisabledTrigger shareAnnotation" action="share"
                    message="share annotation?" url="{{ url_for('main.dashboard') }}"
                    data="{{ annotation.id }}">share</div>

                <div class="link button faded pmTrigger deleteAnnotation" action="delete"
                    message="delete annotation?" url="{{ url_for('main.delete_annotation') }}"
                    data="{{ annotation.id }}">delete</div>

            {% endif %}

        </div>

    </div>

{%- endmacro %}


{% macro render_base_annotation(annotation) -%}

    <div class="annotation">

        <div class="annotationPassage markdown">{{ annotation.passage | markdown }}</div>

        <div class="annotationMetaData">

            {% if annotation.source.name or annotation.source.author.name %}

                <div class="annotationAttribution">{{ attribution_from_annotation_obj(annotation) }}</div>

                <br>

            {% endif %}

            {% if annotation.notes %}

                <div class="annotationNotes markdown">{{ annotation.notes | markdown }}</div>

                <br>

            {% endif %}

            {% if annotation.in_collection %}

                {% for collection in annotation.collections %}

                    <a class="pill collection" name="{{ collection.name }}" href="{{ url_for('main.collection', in_request=collection.name) }}">{{ collection.name }}</a>

                {% endfor %}

            {% endif %}

            {% if annotation.is_tagged %}

                {% for tag in annotation.tags %}

                    <a class="pill tag" name="{{ tag.name }}" href="{{ url_for('main.tag', in_request=tag.name) }}">{{ tag.name }}</a>

                {% endfor %}

            {% endif %}

        </div>

    </div>

{%- endmacro %}