<nav>

	<mainMenu>

		<a id="navDashboard" href="{{ url_for('main.dashboard') }}">
			<div class="icon iconDashboard"></div>
		</a>

		<a id="navIndex" href="{{ url_for('main.index') }}">
			<div class="icon iconIndex"></div>
		</a>


		<a id="navRecent" href="{{ url_for('main.recent') }}">
			<div class="icon iconRecent"></div>
		</a>

		<div id="navCreate">
			<div class="icon iconCreateMenu"></div>
			<div id="createMenuChoices" class="dropShadowBig">
				<div>create new</div>
				<hr>
				<a href="{{ url_for('main.new_annotation') }}">annotation</a>
				<a class="disabled" href="#">collection</a>
				<a class="disabled" href="#">tag</a>
			</div>
		</div>

		<a id="navTrash" href="{{ url_for('main.trash') }}">
			<div class="icon iconTrash"></div>
		</a>

	</mainMenu>

	<searchMenu>

		{% set search = request.args.get("search") if request.endpoint == "main.search"  else "" %}

		<div class="icon iconSearch"></div>

		<form action="{{ url_for('main.search') }}" method="GET">
			<input type="text" name="search" value="{{ search }}"/>
		</form>

	</searchMenu>

	<userMenu>

		<div class="icon iconUserMenu"></div>
		<div id="userMenuChoices" class="dropShadowBig">
			<div>signed in as {{ current_user.display_name }}</div>
			<hr>
			<a href="{{ url_for('flat.page', which='manual/main') }}">hlts manual</a>
			<a href="{{ url_for('flat.page', which='beta/main') }}">beta notes</a>
			<a href="{{ url_for('main.tools') }}">tools</a>
			<hr>
			<a href="{{ url_for('user.settings') }}">settings</a>
			<a href="{{ url_for('user.logout') }}">logout</a>
		</div>

	</userMenu>

</nav>