{% from "_macros.html" import flash %}


{% macro current(page) -%}

	{% if request.endpoint == page %} current {% endif %}

{% endmacro %}


{% macro icon(name) -%}

	{% set classname = name ~ "Icon" %}

	{% if request.endpoint.split(".")[-1] == name %}
		{% set filename = "images/icon_" ~ name ~ "_current.png" %}
	{% else %}
		{% set filename = "images/icon_" ~ name ~ ".png" %}
	{% endif %}

	<img class="{{ classname }}" src="{{ url_for('static', filename=filename) }}"/>

{% endmacro %}


<nav>

	<mainMenu>

		<a class="{{ current('main.dashboard') }}" href="{{ url_for('main.dashboard') }}">{{ icon("dashboard") }}</a>
		<a class="{{ current('main.index') }}" href="{{ url_for('main.index', mode='default')}}">index</a>
		<a class="{{ current('main.recent') }}" href="{{ url_for('main.recent', mode='default') }}">recent</a>
		<a class="{{ current('main.new') }}" href="{{ url_for('main.new') }}">{{ icon("new") }}</a>
		<a class="{{ current('main.trash') }}" href="{{ url_for('main.trash') }}">{{ icon("trash") }}</a>
		<a class="{{ current('main.tools') }}" href="{{ url_for('main.tools') }}">{{ icon("tools") }}</a>

	</mainMenu>

	<searchMenu>

		{% set search = request.args.get('search') if request.endpoint == "main.search"  else "" %}

		{{ icon("search") }}

		<form action="{{ url_for('main.search') }}" method="GET">

			<input type="text" name="search" value="{{ search }}"/>

		</form>

	</searchMenu>

	<userMenu>

		<a class="userMenuButton" href="{{ url_for('user.settings') }}">
			<span class="userMenuName">user: {{ current_user.display_name }}</span>
			 <img class="userMenuIcon" src="{{ url_for('static', filename='images/icon_settings.png') }}"/>
		</a>

	</userMenu>

	<mainFlash> {{ flash() }} </mainFlash>

</nav>
