{% from "_macros.html" import flash %}


{% macro current(page) -%}

	{% if request.endpoint == page %} current {% endif %}

{%- endmacro %}


{% macro interactive_icon(id, filename_root) -%}

	{% set active = "images/nav/" ~ filename_root ~ "-active.png" %}
	{% set inactive = "images/nav/" ~ filename_root ~ ".png" %}

	{% set url_active = url_for("static", filename=active) %}
	{% set url_inactive = url_for("static", filename=inactive) %}

	<img id="{{ id }}" src="{{ url_inactive }}" active="{{ url_active }}" inactive="{{ url_inactive }}"/>

{%- endmacro %}


<nav>

	<mainMenu>

		<a id="navDashboard" href="{{ url_for('main.dashboard') }}">
			<img id="iconDashboard" src="{{ url_for('static', filename='images/nav/dashboard.png') }}"/>
		</a>

		<a id="navIndex" href="{{ url_for('main.index') }}">
			{{ interactive_icon(id="iconIndex", filename_root="index") }}
		</a>


		<a id="navRecent" href="{{ url_for('main.recent') }}">
			{{ interactive_icon(id="iconRecent", filename_root="recent") }}
		</a>

		<div id="navCreate">
			{{ interactive_icon(id="iconCreateMenu", filename_root="create") }}
			<div id="navCreateChoices" class="dropShadowBig">
				<div>create new</div>
				<hr>
				<a href="{{ url_for('main.new_annotation') }}">annotation</a>
				<a class="disabled" href="#">collection</a>
				<a class="disabled" href="#">tag</a>
			</div>
		</div>

		<a id="navTrash" href="{{ url_for('main.trash') }}">
			{{ interactive_icon(id="iconTrash", filename_root="trash") }}
		</a>

	</mainMenu>

	<searchMenu>

		{% set search = request.args.get("search") if request.endpoint == "main.search"  else "" %}

		<img id="iconSearch" src="{{ url_for('static', filename='images/nav/search.png') }}"/>

		<form action="{{ url_for('main.search') }}" method="GET">
			<input type="text" name="search" value="{{ search }}"/>
		</form>

	</searchMenu>

	<userMenu>

		{{ interactive_icon(id="iconUserMenu", filename_root="user") }}
		<div id="userMenuChoices" class="dropShadowBig">
			<div>signed in as {{ current_user.display_name }}</div>
			<hr>
			<a href="{{ url_for('flat.page', which='manual/main') }}">hlts manual</a>
			<a href="{{ url_for('flat.page', which='beta/main') }}">beta notes</a>
			<a href="{{ url_for('main.tools') }}">tools</a>
			<hr>
			<a href="{{ url_for('user.settings') }}">settings</a>
			<a href="{{ url_for('user.logout') }}">logout</a>
		</div>

	</userMenu>

	<mainFlash>{{ flash() }}</mainFlash>

</nav>
